.classpath
.project
.settings/
target/
bin/
implementation/scipamato/.factorypath
rebel.xml
implementation/scipamato/log/scipamato.log
implementation/scipamato/scipamato.*.db
CHANGELOG.html
.idea/
**/*.iml
s101plugin.*
log/
