<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <logger name="ch.difty.scipamato" level="WARN" />
    <logger name="com.zaxxer.hikari" level="WARN" />
    <logger name="org.springframework" level="WARN" />
    <logger name="org.xnio" level="WARN" />
</configuration>