/.apt_generated/
.springBeans
log/
**/target
public/web/keystore.p12
public/web/application.properties
core/web/application.properties
public/web/src/main/resources/ch/difty/scipamato/publ/web/resources/fonts/MetaOT/
public/web/src/main/resources/ch/difty/scipamato/publ/web/resources/fonts/IcoMoon/
public/web/src/main/resources/ch/difty/scipamato/publ/web/resources/fonts/Simplon/
.gradle/
**/build/
**/out/
scipamato.ipr
scipamato.iws
lombok.config
pom.xml_
