log/

# build directories
.gradle/
**/build/
**/out/

# intellij files
scipamato.ipr
scipamato.iws
.springBeans

# Generated config
lombok.config

# keystore
public/web/keystore.p12

# commercial fonts
public/web/src/main/resources/ch/difty/scipamato/publ/web/resources/fonts/MetaOT/
public/web/src/main/resources/ch/difty/scipamato/publ/web/resources/fonts/IcoMoon/
public/web/src/main/resources/ch/difty/scipamato/publ/web/resources/fonts/Simplon/

# local property files used on build machine for db access for jooq generation
core/web/application.properties
public/web/application.properties
