/.apt_generated/
.springBeans
log/
**/.classpath
**/.factorypath
**/.project
**/.settings
**/target
scipamato-public-web/keystore.p12
scipamato-public-web/application.properties
scipamato-core-web/application.properties
