name: Check

on:
  push:
    branches:
    - main
    tags:
    - '*'

  pull_request:
    branches:
    - main

jobs:
  build:
    strategy:
      matrix:
        jdk: [21]
    runs-on: ubuntu-latest
    env:
      JDK_VERSION: ${{ matrix.jdk }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

    - name: Gradle wrapper validation
      uses: gradle/actions/wrapper-validation@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5
      
    - name: Set up JDK ${{ matrix.jdk }}
      uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
      with:
        distribution: 'zulu'
        java-version: ${{ matrix.jdk }}

    - name: Cache SonarCloud packages
      uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5
      with:
        path: ~/.sonar/cache
        key: ${{ runner.os }}-sonar
        restore-keys: ${{ runner.os }}-sonar

    - name: Cache global .gradle folder
      uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5
      with:
        path: ~/.gradle/caches
        key: global-gradle-${{ hashFiles('gradle/wrapper/gradle-wrapper.properties') }}-${{ hashFiles('**/*.kt*') }}-${{ hashFiles('**/*.java') }}
        restore-keys: |
          gradle-cache-${{ hashFiles('gradle/wrapper/gradle-wrapper.properties') }}

    - name: Login to Docker Hub
      uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Download postgres
      run: docker pull postgres:15.4

    - name: Setup gradle
      uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5

    - name: Run build
      run:  ./gradlew check detekt mergeDetektSarif :gradle-plugins:buildPlugins --continue

    - name: Upload sarif file to GitHub
      uses: github/codeql-action/upload-sarif@b20883b0cd1f46c72ae0ba6d1090936928f9fa30 # v4
      if: success() || failure()
      with:
        sarif_file: build/detekt-merged.sarif
        category: detekt

    - name: Upload failure artifacts
      if: failure()
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
      with:
        name: reports
        path: '**/build/reports'
