name: Check

on:
  push:
    branches:
    - main
    tags:
    - '*'

  pull_request:
    branches:
    - main

jobs:
  build:
    strategy:
      matrix:
        jdk: [21]
    runs-on: ubuntu-latest
    env:
      JDK_VERSION: ${{ matrix.jdk }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

    - name: Gradle wrapper validation
      uses: gradle/actions/wrapper-validation@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5
      
    - name: Set up JDK ${{ matrix.jdk }}
      uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5
      with:
        distribution: 'zulu'
        java-version: ${{ matrix.jdk }}

    - name: Cache SonarCloud packages
      uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
      with:
        path: ~/.sonar/cache
        key: ${{ runner.os }}-sonar
        restore-keys: ${{ runner.os }}-sonar

    - name: Cache global .gradle folder
      uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
      with:
        path: ~/.gradle/caches
        key: global-gradle-${{ hashFiles('gradle/wrapper/gradle-wrapper.properties') }}-${{ hashFiles('**/*.kt*') }}-${{ hashFiles('**/*.java') }}
        restore-keys: |
          gradle-cache-${{ hashFiles('gradle/wrapper/gradle-wrapper.properties') }}

    - name: Login to Docker Hub
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Download postgres
      run: docker pull postgres:15.4

    - name: Setup gradle
      uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5

    - name: Run build
      run:  ./gradlew check detekt mergeDetektSarif :gradle-plugins:buildPlugins --continue

    - name: Upload sarif file to GitHub
      uses: github/codeql-action/upload-sarif@e12f0178983d466f2f6028f5cc7a6d786fd97f4b # v4
      if: success() || failure()
      with:
        sarif_file: build/detekt-merged.sarif
        category: detekt

    - name: Upload failure artifacts
      if: failure()
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
      with:
        name: reports
        path: '**/build/reports'
