name: Check

on:
  push:
    branches:
    - master
    tags:
    - '*'
    paths:
    - 'implementation/scipamato/*'

  pull_request:
    branches:
    - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v1
      
    - name: Set up JDK 1.11
      uses: actions/setup-java@v1
      with:
        java-version: 1.11
      
    - name: Check with Gradle
      working-directory: ./implementation/scipamato
      run: ./gradlew check --no-daemon --no-build-cache

