name: Check

on:
  push:
    branches:
    - main
    tags:
    - '*'

  pull_request:
    branches:
    - main

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2.3.4

    - name: Gradle wrapper validation
      uses: gradle/wrapper-validation-action@v1.0.3
      
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        distribution: 'zulu'
        java-version: '11'

    - name: Cache global .gradle folder
      uses: actions/cache@v2.1.5
      with:
        path: ~/.gradle/caches
        key: global-gradle-${{ hashFiles('gradle/wrapper/gradle-wrapper.properties') }}-${{ hashFiles('**/*.kt*') }}-${{ hashFiles('**/*.java') }}
        restore-keys: |
          gradle-cache-${{ hashFiles('gradle/wrapper/gradle-wrapper.properties') }}

    - name: Login to Docker Hub
      uses: docker/login-action@v1.9.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Download postgres
      run: docker pull postgres:10

    - name: Check with Gradle
      run: ./gradlew check --stacktrace
